@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #d4fb20;
  --dark: #040819;
  --gray: #4b4c53;
  --light-gray: #82868e;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-dark: var(--dark);
  --color-gray: var(--gray);
  --color-light-gray: var(--light-gray);
  --font-poppins: var(--font-poppins);
  --font-satoshi: var(--font-satoshi);

  --container-laptop: 1200px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-satoshi), sans-serif;
}

h1,
h2 {
  font-family: var(--font-poppins), sans-serif;
}
